<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>Your account has been created successfully please wait for admin approval
      before continuing.
    </p>
    <p>Don't worry we'll send you an email when your account is approved. After
      that you can log in to the system.</p>
    <footer>&copy; Ascend Pharmacy 2023</footer>
  </body>
</html>